<style type="text/css">  
table, td, th {
    border-color: #dee1e4;
    border-collapse: collapse;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    spacing: 0px;
    border-width: 1px;
    border-style: solid;
}
tr:nth-child(odd) {
    background-color: #f3f3f3;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
a:link {
    text-decoration: none;
    color: #0000BF
}
a:visited {
    text-decoration: none;
    color: #0000BF;
}
a:hover {
    text-decoration: none;
    color: #0000FF
}
a:active {
    text-decoration: none;
    color: #00007F;
}
</style>
