
body {margin:auto; max-width:45em; line-height:180%; color:#222222; font-family: 'Arial', sans-serif; }

h1 { padding-top:2em; padding-bottom:1em; }

h2 { padding-top:2em; padding-bottom:1em; }

h3, h4, h5, h6 {font-size:1em}

h1, h2, h3, h4, h5, h6 {  font-family: 'Poppins', sans-serif;}

code {padding-left:0.5em; padding-right:0.5em; border-style:solid; border-width:1px; border-radius:0.5em; border-color:#f8f8f8; background:#f8f8f8;}

pre>code {padding-left:0em; padding-right:0em; border-style:none; background:none;}

pre {margin-left: 4em;}

img.centered {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}
